@import '../sass/_mixins', '../sass/_variables'
    
.loginPage
    min-height: 100vh
    background-color: #0C0C0D

.loginPage__main
    +mainLoginPage

.loginPage__title
    +titleLoginPage($titleLoginPageFontSize)

.loginPage__section
    +sectionLoginPage($sectionLoginPageWidth, $sectionLoginPageMargin)

.loginPage__h2
    +h2LoginPage($h2LoginPageFontSize, $h2LoginPageFontMargin)

.loginPage__input
    +inputLoginPage($inputLoginPageHeight, $inputLoginPageFontSize, 3px)

.loginPage__btn
    +btnLoginPage($btnLoginPageHeight, $btnLoginPageWidth, $btnLoginPageFontSize)

.loginPage__p
    margin-top: 5px